%section.home-splash.flex-container
  .hero-container.flex-container.flex-column.full-width.justify-center
    %h1.hero-title
      A 200% Faster DevOps Cycle
    %h3.hero-description
      Spend more time writing code and less time maintaining your tool chain.
    %a.btn.cta-btn.accent{href: "/products/"}
      Try GitLab for Free
  .hero-image-container.flex-container.justify-center.align-center.full-width.justify-center
    %img.forrester-logo{ src: "/images/home/forrester-logo.png" }
    %a.hero-image-link{ href: "https://about.gitlab.com/2017/09/27/gitlab-leader-continuous-integration-forrester-wave/", target: "_blank" }
      %img.hero-image{ src: "/images/home/forrester-ci-wave-graphic-with-arrow.svg" }
